<div class="text-center">
    <h4>Data Binding</h4>
    <h5>Multiple Choice Questions</h5>
    <div *ngFor="let data of mcq; let i = index">
        <div>{{ i + 1 }}. {{ data.question }}</div>

        <div *ngFor="let item of data.multipleChoice">
            <input
                type="radio"
                value="{{ item }}"
                (change)="checkboxFunc($event, i)"
            />
            {{ item }}
        </div>

        <button type="submit" (click)="checkAnswer()">Submit Answer</button>

        <br /><br />
    </div>

    <div *ngIf="displayResult">
        The selected answer is correct
    </div>

    
    
    
    
    
    
    <!-- <div *ngIf="isVisible">
        <h5 *ngFor="let day of arrOfDays">
            <span *ngIf="day == today">Today is {{ day }}</span>
        </h5>
    </div>
    <button (click)="makeItInvisble()">
        <span *ngIf="isVisible">Hide</span>
        <span *ngIf="!isVisible">Show</span>
        Day
    </button>
    <br />
    <br />

    <table class="container">
        <tr>
            <th *ngFor="let header of tableHeader">{{ header }}</th>
        </tr>
        <tr *ngFor="let data of monthSavings">
            <td *ngIf="data.month == feb">{{ data.month }}</td>
            <td *ngIf="data.month == feb">{{ data.savings }}</td>
        </tr>
    </table> -->
</div>
